In [15]:
import IPython
print("IPython version:      %6.6s (need at least 1.0)" % IPython.__version__)

# Numpy is a library for working with Arrays
import numpy as np
print("Numpy version:        %6.6s (need at least 1.7.1)" % np.__version__)

# SciPy implements many different numerical algorithms
import scipy as sp
print("SciPy version:        %6.6s (need at least 0.12.0)" % sp.__version__)

# Pandas makes working with data tables easier
import pandas as pd
print("Pandas version:       %6.6s (need at least 0.11.0)" % pd.__version__)

# Module for plotting
import matplotlib.pyplot as plt
#print("Mapltolib version:    %6.6s (need at least 1.2.1)" % matplotlib.__version__)

# SciKit Learn implements several Machine Learning algorithms
import sklearn
print("Scikit-Learn version: %6.6s (need at least 0.13.1)" % sklearn.__version__)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

IPython version:       6.1.0 (need at least 1.0)
Numpy version:        1.14.2 (need at least 1.7.1)
SciPy version:        0.19.1 (need at least 0.12.0)
Pandas version:       0.20.3 (need at least 0.11.0)
Scikit-Learn version: 0.19.1 (need at least 0.13.1)

In [8]:
reviews = pd.read_csv('../data/seattle/seattle_reviews.csv')
calendar = pd.read_csv('../data/seattle/seattle_calendar.csv')
listing = pd.read_csv('../data/seattle/seattle_listings.csv')

In [44]:
reviews['month'] = pd.DatetimeIndex(reviews['date']).month
reviews.groupby(['listing_id','month']).count()

                  id  date  reviewer_id  reviewer_name  comments
listing_id month
4291       5       1     1            1              1         1
           6       2     2            2              2         2
           7       5     5            5              5         5
           8      15    15           15             15        15
           9       9     9            9              9         9
           10      2     2            2              2         2
           12      1     1            1              1         1
5682       1      16    16           16             16        16
           2      20    20           20             20        20
           3      21    21           21             21        21
           4      22    22           22             22        22
           5      28    28           28             28        28
           6      28    28           28             28        28
           7      27    27           27             27        26
           8      35    35           35             35        35
           9      33    33           33             33        33
           10     27    27           27             27        27
           11     23    23           23             23        23
           12     17    17           17             17        17
6606       1       1     1            1              1         1
           4       1     1            1              1         1
           5       3     3            3              3         3
           6       6     6            6              6         6
           7      10    10           10             10        10
           8      13    13           13             13        13
           9       9     9            9              9         9
           10      3     3            3              3         3
           11      4     4            4              4         4
           12      2     2            2              2         2
7369       1       2     2            2              2         2
...               ..   ...          ...            ...       ...
9712716    1       1     1            1              1         1
           12      2     2            2              2         2
9714078    1       1     1            1              1         1
           12      1     1            1              1         1
9727246    12      1     1            1              1         1
9727857    12      3     3            3              3         3
9736940    12      3     3            3              3         3
9797000    1       1     1            1              1         1
           12      1     1            1              1         1
9820818    12      1     1            1              1         1
9823290    12      1     1            1              1         1
9849122    12      2     2            2              2         2
9863484    12      2     2            2              2         2
9863565    12      2     2            2              2         2
9865846    12      1     1            1              1         1
9866461    1       1     1            1              1         1
9866984    12      1     1            1              1         1
9908591    12      2     2            2              2         2
9910025    1       1     1            1              1         1
9924107    1       1     1            1              1         1
           12      1     1            1              1         1
9929059    12      3     3            3              3         3
9939359    12      2     2            2              2         2
9957555    12      2     2            2              2         2
9970805    12      1     1            1              1         1
9995551    1       1     1            1              1         1
10012724   12      2     2            2              2         2
10020221   1       1     1            1              1         1
10118341   1       1     1            1              1         1
10248139   1       1     1            1              1         1

[18228 rows x 5 columns]

In [30]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [49]:
listing.head()

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [130]:

#listing['totalScore'] = listing['review_scores_rating'] + listing['review_scores_accuracy'] 
# listing[ 'review_scores_rating',
#  'review_scores_accuracy',
#  'review_scores_cleanliness',
#  'review_scores_checkin',
#  'review_scores_communication',
#  'review_scores_location',
#  'review_scores_value']

listing['review_scores_rating'].dropna()
best_listing = listing[listing.review_scores_rating == 100.00]

In [131]:
listing.groupby("neighbourhood_group_cleansed").count()

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
neighbourhood_group_cleansed,,,,,,,,,,,,,,,,,,,,,
Ballard,230,230,230,230,230,222,204,230,230,179,...,193,230,0,230,230,230,230,230,230,193
Beacon Hill,118,118,118,118,118,110,104,118,118,82,...,103,118,0,118,118,118,118,118,118,103
Capitol Hill,567,567,567,567,567,527,469,567,567,396,...,459,567,0,567,567,567,567,567,567,462
Cascade,89,89,89,89,89,86,64,89,89,56,...,65,89,0,89,89,89,89,89,89,65
Central Area,369,369,369,369,369,354,313,369,369,276,...,318,369,0,369,369,369,369,369,369,320
Delridge,79,79,79,79,79,74,71,79,79,64,...,65,79,0,79,79,79,79,79,79,65
Downtown,530,530,530,530,530,510,446,530,530,343,...,456,530,0,530,530,530,530,530,530,458
Interbay,11,11,11,11,11,11,10,11,11,10,...,9,11,0,11,11,11,11,11,11,9
Lake City,67,67,67,67,67,65,57,67,67,47,...,56,67,0,67,67,67,67,67,67,56
Magnolia,61,61,61,61,61,60,50,61,61,45,...,47,61,0,61,61,61,61,61,61,47
Northgate,80,80,80,80,80,75,70,80,80,58,...,65,80,0,80,80,80,80,80,80,66
Other neighborhoods,794,794,794,794,794,754,699,794,794,617,...,651,794,0,794,794,794,794,794,794,664
Queen Anne,295,295,295,295,295,279,236,295,295,213,...,245,295,0,295,295,295,295,295,295,248
Rainier Valley,159,159,159,159,159,154,137,159,159,123,...,134,159,0,159,159,159,159,159,159,134
Seward Park,44,44,44,44,44,42,42,44,44,38,...,39,44,0,44,44,44,44,44,44,39
University District,122,122,122,122,122,121,99,122,122,89,...,95,122,0,122,122,122,122,122,122,98
West Seattle,203,203,203,203,203,197,178,203,203,150,...,162,203,0,203,203,203,203,203,203,164

In [156]:
data = pd.merge(best_listing, reviews, on = 'listing_id')
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop = set(stopwords.words('english'))

In [157]:
good_comments = data.comments

data['word_count'] = data['comments'].apply(lambda x: len(str(x).split(" ")))

In [158]:
data['stopwords'] = data['comments'].apply(lambda x: len([x for x in str(x).split() if x in stop]))

In [159]:
data['comments'] = data['comments'].apply(lambda x: " ".join(x.lower() for x in str(x).split()))

In [160]:
data['comments'] = data['comments'].str.replace('[^\w\s]','')

In [161]:
freq = pd.Series(' '.join(data['comments']).split()).value_counts()[:10]

In [168]:
freq = pd.Series(' '.join(data['comments']).split()).value_counts()[40:100]
print(freq)

are             1349
everything      1321
again           1272
apartment       1266
an              1259
have            1243
nice            1224
neighborhood    1197
time            1146
but             1088
recommend       1080
well            1052
perfect         1051
room            1011
really           998
easy             984
beautiful        970
here             966
also             963
she              956
her              948
definitely       944
space            944
wonderful        931
out              920
he               911
experience       900
if               890
made             872
just             868
be               863
downtown         862
me               822
they             809
even             803
has              779
restaurants      773
staying          766
area             765
when             746
not              742
quiet            721
about            717
will             699
its              692
back             690
like             684
his              663
amazing          657
get              649
feel             644
which            643
helpful          639
close            636
lovely           628
needed           619
coffee           614
or               609
could            604
walking          593
dtype: int64

In [138]:
data['comments'] = data['comments'].apply(word_tokenize)
print(data.comments)
new_data = data.comments

0       [ellie, left, seasonal, decorations, fresh, fl...
1       [listing, description, was, very, accurate, an...
2       [andrewellie, have, the, house, setup, really,...
3       [an, absolutely, lovely, experience, a, beauti...
4       [the, house, was, perfect, we, were, visiting,...
5       [beautifully, finished, house, located, in, a,...
6       [staying, in, jills, home, was, a, great, expe...
7       [the, views, from, this, house, are, breathtak...
8       [exactly, as, described, and, a, view, to, die...
9       [overall, we, had, an, excellent, experience, ...
10      [beautiful, house, overlooking, puget, sound, ...
11      [perfect, stay, lovely, home, in, gorgeous, ne...
12      [jills, house, is, wonderful, it, is, spacious...
13      [great, cozy, little, house, in, a, lovely, ne...
14      [wow, this, apartment, does, not, disappoint, ...
15      [we, felt, very, welcome, and, kimberly, was, ...
16       [everything, was, perfect, location, beds, host]
17      [amazing, place, amazing, host, she, was, deli...
18      [the, condo, turned, out, to, be, the, perfect...
19      [i, had, a, great, time, at, kimberleys, place...
20      [staying, at, kevins, place, was, fantastic, t...
21      [i, lived, here, for, 8, weeks, it, was, just,...
22      [thank, you, for, the, last, minute, help, my,...
23      [my, husband, and, i, had, a, wonderful, time,...
24      [sam, did, an, excellent, job, of, communicati...
25      [such, a, great, house, in, a, wonderful, neig...
26      [the, host, was, very, helpful, as, i, told, h...
27      [sams, place, was, fantastic, for, our, one, n...
28      [sam, had, a, very, beautiful, house, on, quee...
29      [the, host, canceled, this, reservation, 6, da...
                              ...
4869    [great, hostess, this, review, was, for, the, ...
4870    [me, and, my, husband, had, a, fantastic, 4, w...
4871    [flora, is, such, an, incredible, host, the, l...
4872    [flora, thought, of, everything, to, make, our...
4873    [the, spot, was, wonderful, very, clean, and, ...
4874    [flora, was, very, welcoming, accommodating, a...
4875    [this, was, our, first, experience, with, airb...
4876    [the, space, is, big, private, and, clean, we,...
4877    [we, had, a, wonderful, time, staying, at, flo...
4878    [flora, is, wonderful, the, apartment, is, sim...
4879    [this, is, a, lovely, one, bedroom, apartment,...
4880    [awesome, always, awesome, staying, here, flor...
4881    [flora, is, such, a, wonderful, host, the, pic...
4882    [this, was, my, second, time, staying, with, f...
4883    [floras, apartment, was, wonderful, the, apart...
4884    [floras, apartment, was, the, perfect, place, ...
4885    [this, was, the, most, amazing, and, relaxing,...
4886    [our, first, airbnb, experience, could, not, h...
4887    [just, like, home, with, that, great, neighbor...
4888    [flora, and, toms, apartment, was, absolutely,...
4889    [this, fremont, apartment, has, everything, yo...
4890    [a, great, place, with, a, great, host, the, p...
4891    [simply, beautiful, location, and, home, it, w...
4892    [i, feel, so, grateful, to, have, stayed, at, ...
4893    [flora, was, very, welcoming, and, quick, to, ...
4894    [fabulous, does, not, even, begin, to, express...
4895    [great, airbnb, i, had, an, emergency, situati...
4896                     [very, welcoming, accommodating]
4897    [we, had, a, great, experience, in, a, fantast...
4898    [it, is, nicer, than, hotels, totally, worth, ...
Name: comments, Length: 4899, dtype: object

In [155]:
# to make prior
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
vec = TfidfVectorizer()
new_data = vec.fit_transform(data.comments)

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.20982345, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])